@import "./colors";

.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 24px;

  .wrapper {
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;
      border: solid 2px var(--blackBackground);
      padding: 3px;
      border-radius: 2rem;

      input {
        border: none;
        outline: none;
        background-color: transparent;

        &::placeholder {
          margin-left: 2rem;
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        .counter {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--redAccent);
          color: var(--yellowAccent);
          font-size: 8px;
          position: absolute;
          top: -5px;
          right: -5px;
        }

        .icon {
          font-size: 25px;
        }
      }
    }
  }
}
