@import "./colors.scss";

.table {
  background-color: var(--whiteText);
  border-radius: 2rem;
}

.cellAction {
  display: flex;
  justify-content: center;
  

  .viewButton {
    padding: 5px 15px;
    border-radius: 5px;
    color: var(--blackBackground);
    border: 2px solid var(--greyBackground);
    cursor: pointer;
    &:hover{
      background-color: var(--greyBackground);
      border: 2px solid var(--yellowAccent);
      color: var(--yellowAccent);
    }
  }

  // .deleteButton {
  //   padding: 2px 5px;
  //   border-radius: 5px;
  //   color: crimson;
  //   border: 1px solid rgb(220, 34, 71);
  //   cursor: pointer;
  //   &:hover{
  //     background-color: darkblue;
  //     color: var(--whiteText);
  //   }
  // }
}
