@import "./colors.scss";

.requests_out {
    display: flex;
    height: 100vh;

    .requests_side {
        height: 100vh;
    }

    .requests_main {
        padding-top: 1rem;
        width: 100%;
        height: 100vh;
        padding: 1rem;
        align-items: center;
        overflow-y: hidden;
        .widgets {
            display: flex;
            
        }
    }
}
