@import "./colors.scss";

.users {
  height: 100vh;
  .users-in {
    padding-top: 1rem;
    padding-left: 255px;
    height: 100vh;
    align-items: center;

    .user-listContainer {
      -webkit-box-shadow: 10px 10px 54px 0px rgba(0, 0, 0, 0.65);
      -moz-box-shadow: 10px 10px 54px 0px rgba(0, 0, 0, 0.65);
      box-shadow: 10px 10px 54px 0px rgba(0, 0, 0, 0.65);
      padding: 20px;
      background-color: var(--blackBackground);
      border-radius: 2rem;
      width: 97%;
      margin-top: 20px;
      border: none;
      outline: none;
      display: flex;
      flex-direction: column;
      

      .addButton{
        color: var(--yellowAccent);
        border-color: var(--yellowAccent);
        margin-bottom: 1rem;
        margin-left: auto;
      }

      .listTile {
        font-weight: 500;
        margin-bottom: 15px;
        border: none;
        outline: none;
      }
    }
  }
}
