.button {
    align-items: center;
    width: 14.7rem;
    margin-left: 0.2rem;
    border-radius: 1.5rem;
    
    
    background-color: var(--blackBackground);
    .text {
        padding-left: 2.5rem;
        font-size: 1.2rem;
        color: var(--whiteText);
        font-weight: bold;
    }
    .icon{
        color: var(--whiteText);
        font-size: 1.6rem;
    }
}

.button:hover {
    transition: 0.1s ease-in-out;

    border-right: 0.2rem solid var(--yellowAccent);
    border-bottom: 0.3rem solid var(--yellowAccent);
    .text {
        color: var(--yellowAccent);
    }
}
