.logout {
  padding-left: 3.6rem;
  display: flex;
  gap: 0.7rem;
  cursor: pointer;
  color: var(--redAccent);
}

.logouticon {
  font-size: 1.2rem;
  color: var(--redAccent);
}

.logouttext {
  font-weight: bolder;
  color: var(--redAccent);
}

.logout:hover {
  .logouticon {
    transition: all 0.15s ease-in-out;

    transform: scale(1.4);
  }
}
