ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.dropdown-menu{
    content: '';
    position: absolute;
    margin-top: 55px;
    top: -5px;
    right: 20px;
    background-color: black;
    border-radius: 2rem;
    padding: 18px 20px;
    width:200px
}


.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}
